
#toMainPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#toMainPage > .small-text {
    cursor: pointer;
    margin-right: 1vw;
}

#toMainPage > .small-text:hover {
    color: #F46244;
    text-decoration: underline;
}

#pageContentHolder {
    margin-top: 22.5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#pageContent {
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

#briefOrangeLine {
    margin-top: 1.35vw;
    left: 5%;
}

#briefHeaderHolder {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
}

#theForm {
    margin-top: 4vw;
}

.data-block {
    margin-bottom: 5vw;
}

.data-block:last-child {
    margin-bottom: 0;
}

.buttons-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

#blueServiceRectangle {
    left: 0;
    width: 8vw;
    height: 25vw;
}

h2, #requestLabel {
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

.button, textarea, #nameHolder {
    margin-top: 1.5vw;
}

.button {
    margin-right: 1.5vw;
    -webkit-box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
            box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.select-button {
    background: #FFFFFF;
}

.select-button:hover {
    color: #F46244;
    border: 1px solid #F46244;
}

.selected-button {
    color: #FFFFFF;
    background: #F46244;
}

#requestHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column;
            flex-flow: column;
}

#blueContactRectangle {
    right: 0;
    width: 26vw;
    height: 30vw;
}

#numberHolder {
    margin-left: 2.5vw;
}

#contactViaHolder, #emailPhoneHolder, #submitHolder {
    margin-top: 2vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}



.checkbox-pair {
    margin-right: 1.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.checkbox-pair > label {
    margin-left: 1vw;
}

#submitHolder {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#submitRequest {
    margin: 0;
}

#agreement {
    font-family: "Futura PT light", sans-serif;
    width: 30%;
    margin-left: 5vw;
}

.privacy-policy {
    color: #F46244;
}

.privacy-policy:hover {
    text-decoration: underline;
    color: #ED5434;
}


@media screen and (max-width: 1024px) {
    #pageContentHolder {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
    }
    #pageContent {
        margin-left: 15vw;
        width: 66%;
    }
    #briefOrangeLine {
        display: none;
    }
    h2, #requestLabel {
        font-size: 2vw;
        margin-bottom: 2vw;
    }
    #theForm {
        margin-top: 7vw;
    }
    .button {
        margin-right: 4vw;
    }
    .button, textarea, #nameHolder {
        margin-top: 2.5vw;
    }
    #toMainPage > .small-text {
        margin-right: 2vw;
    }
    #pageContentHolder {
        margin-top: 19vw;
    }
    .data-block {
        margin-bottom: 7vw;
    }
    #blueContactRectangle {
        width: 22.5vw;
        height: 36vw;
    }
    #blueServiceRectangle {
        height: 26vw;
    }
    .checkbox-pair > label {
        margin-left: 2vw;
    }
    #contactViaHolder, #emailPhoneHolder, #submitHolder {
        margin-top: 3vw;
    }
    #agreement {
        width: 50%;
        margin-left: 4vw;
    }
    #numberHolder {
        margin-left: 3vw;
    }
}

@media screen and (max-width: 550px) {
    #blueContactRectangle, #blueServiceRectangle {
        display: none;
    }
    #pageContentHolder {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #pageContent {
        margin-left: 0;
        width: 80%;
    }
    #pageContentHolder {
        margin-top: 35vw;
    }
    h2, #requestLabel {
        font-size: 4.2vw;
        margin-bottom: 3vw;
    }
    .button, textarea, #nameHolder {
        margin-top: 8vw;
    }
    .button {
        margin-right: 9vw;
    }
    #theForm {
        margin-top: 12vw;
    }
    .data-block {
        margin-bottom: 16vw;
    }
    textarea {
        padding: 2vw 2vw;
        width: 95%;
        height: 25vw;
    }
    #nameHolder {
        margin-top: 0;
    }
    #nameHolder, #emailPhoneHolder {
        width: 100%;
    }
    #emailPhoneHolder {
        margin: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    #numberHolder {
        margin-left: 0;
    }
    #contactViaHolder, #submitHolder {
        margin-top: 10vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column;
                flex-flow: column;
    }
    .checkbox-pair {
        margin-top: 5vw;
        margin-right: 0;
    }
    .checkbox-pair:first-child {
        margin-top: 0;
    }
    .checkbox-pair > label {
        margin-left: 5vw;
    }
    #agreement {
        margin-top: 6vw;
        width: 100%;
        margin-left: 0;
    }
    #submitHolder {
        margin-bottom: 20vw;
    }
}