
#topHolder {
    display: flex;
    flex-flow: column nowrap;
    width: 100%;
    height: 100vh;
    background: linear-gradient(to right, #E3F1F6 50%, #FFFFFF 50%);
}

#headerHolder {
    margin-top: 6.5vw;
    display: flex;
    justify-content: center;
}

#theHeader {
    position: absolute;
    z-index: 1;
    margin-right: 1.5vw;
}

#showreelHolder {
    margin-top: 4vw;
    position: relative;
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

#showreel {
    display: flex;
    align-items: center;
}

#showreelVideo {
    width: 25vw;
}

#theHeader > span {
    color: #E3F1F6;
}

.rotated-text {
    font-family: "Futura PT book", sans-serif;
    font-size: 0.8vw;
    transform: rotate(-90deg);
}

#playButtonHolder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3vw;
    height: 3vw;
    position: absolute;
    z-index: 6;
    left: 46.5vw;
    background-color: #f0f2f5;
    border-radius: 100px;
}

#playButtonImg {
    margin-left: 0.2vw;
}