
@font-face {
    font-family: "Futura PT light";
    src: url('../font/FuturaPT-Light.ttf');
}

@font-face {
    font-family: "Futura PT book";
    src: url('../font/FuturaPT-Book.ttf');
}

@font-face {
    font-family: "TenorSans-Regular";
    src: url('../font/TenorSans-Regular.ttf');
}

html, body {
    margin: 0;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#SUPERCONTENTHOLDER {
    width: 100%;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    overflow: hidden;
}

::-webkit-scrollbar {
    display: none;
}

h1, h2, p, li, td, label, select, option, input, button, textarea, span {
    font-size: 1vw;
    font-family: "Futura PT light", sans-serif;
    color: #4B575C;
    font-weight: 500;
    margin: 0;
}

textarea {
    padding: 1vw 1vw;
    width: 46%;
    height: 10vw;
    background: #F7F7F7;
    border: none;
    outline: none;
}

.big-round-button {
    width: 8.5vw;
    height: 8.5vw;
    border: 1px solid white;
    background: none;
    cursor: pointer;
    border-radius: 100px;
    color: white;
    font-family: TenorSans-Regular, sans-serif;
    outline: none;
}

.big-round-button:hover {
    color: #4B575C;
    background-color: white;
}


.floating-text {
    position: absolute;
}

.text-input {
    width: 12.5vw;
    padding: 0.5vw 0.5vw;
    outline: none;
    border: none;
    border-bottom: 0.5px solid #4B575C;
}

input[type=text], input[type=email] {
    -webkit-appearance: none;
    border-radius: 0;
}

.error {
    display: none;
    color: #ED5434;
}

.text-input:valid {
    color: #F46244;
    border-bottom-color: #F46244;
}

.tenor-sans-font {
    font-family: TenorSans-Regular, sans-serif;
}


.the-biggest-text, .the-biggest-text > span {
    font-weight: 300;
    color: #FFFFFF;
    font-size: 9vw;
    letter-spacing: 0.5vw;
}

.header-text, .header-text > span {
    font-size: 2.5vw;
}

.small-text {
    font-family: "Futura PT book", sans-serif;
    font-size: 0.9vw;
}

.orange {
    color: #F46244;
}

.blue {
    color: #E3F1F6;
}

.button {
    font-family: "Futura PT book", sans-serif;
    padding: 0 2.1vw;
    height: 2.5vw;
    outline: none;
    border: none;
    border-radius: 100px;
    font-size: 0.8vw;
    cursor: pointer;
}

.blue-rectangle {
    position: absolute;
    background: #E3F1F6;
}

.white-button {
    border: 1px solid #FFFFFF;
    color: #FFFFFF;
    background: transparent;
}

.white-button:hover {
    color: #F46244;
    background: #FFFFFF;
}

.orange-button {
    color: #FFFFFF;
    background: #F46244;
}

.orange-button:hover {
    background: #ED5434;
}

.resume-button {
    background-color: #FFFFFF;
    border: 1px solid #F46244;
    color: #F46244;
}

.resume-button:hover {
    color: white;
    background-color: #F46244;
}


#interface {
    top: 7vh;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: fixed;
    z-index: 10;
}

#navPanel {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#logo {
    width: 2.5vw;
    cursor: pointer;
}

.round-button-holder {
    background-color: white;
    width: 3vw;
    height: 3vw;
    border-radius: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-shadow: 0 15px 45px rgba(0, 0, 0, 0.05);
            box-shadow: 0 15px 45px rgba(0, 0, 0, 0.05);
    cursor: pointer;
}

#menuButton {
    position: fixed;
    left: 48.5vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}

#menuButton:hover {
    -webkit-box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
            box-shadow: 0 20px 25px rgba(0, 0, 0, 0.1);
}

.menu-button-line {
    width: 1.6vw;
    height: 1px;
    background-color: #F46244;
}

#menuLine2 {
    margin-top: 8px;
}

#chatHolder {
    margin-top: 2vw;
    position: fixed;
    z-index: 10;
    bottom: 2.5vw;
    left: 92.1vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

#chatButtonHolder {
    margin-top: 0vw;
    margin-left: 0vw;
}

#chatButton {
    width: 1.3vw;
}

#pageContent {
    display: block;
}

#menuHolder {
    background-color: #FFFFFF;
    position: relative;
    z-index: 5;
    display: none;
    height: 100vh;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#menuSpreader {
    background-color: #F46244;
    width: 0;
}

#menu {
    position: relative;
    width: 100%;
    margin-top: 27vh; /*27vh*/
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.menu-buttons:first-child {
    margin-top: 0;
}

.menu-buttons {
    font-weight: 300;
    text-align: center;
    margin-top: 4.5vw;
    letter-spacing: 0.05vw;
    font-size: 1.5vw;
    color: #FFFFFF;
    cursor: pointer;
}

.menu-buttons:hover {
    text-decoration: underline;
}

#languageSMHolder {
    margin-top: 18vh; /*18vh*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#socialMediaMenu {
    width: 15vw;
    height: 2.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.sm-holder-menu {
    margin-bottom: 0vw;
    position: absolute;
    width: 2.2vw;
    height: 2.2vw;
    background-color: transparent;
}

.sm-holder-menu:hover {
    background-color: #f78973;
}

#instaButtonMenuHolder {
    left: 41.5vw;
}

#fbButtonMenuHolder {
    left: 46.5vw;
}

#telegramButtonMenuHolder {
    left: 51.5vw;
}

#whatButtonMenuHolder {
    left: 56.5vw;
}

.sm-button {
    width: 1vw;
    height: 1vw;
}

.language-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.language {
    color: white;
    font-size: 0.8vw;
    opacity: 0.5;
    cursor: pointer;
}

.language:hover {
    opacity: 1;
    text-decoration: underline;
}

.language-activated {
    opacity: 1;
}

.language-slash {
    background-color: #FFFFFF;
    opacity: 0.5;
    margin: 0 1.1vw;
    width: 1.5vw;
    height: 1px;
}

#menuLanguage {
    position: absolute;
    left: 5vw;
}

#footer {
    padding-top: 25vh;
}

#contactsHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

#contactHeaderHolder {
    width: 50%;
    height: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background-color: #E3F1F6;
}

#contactHeader {
    margin-right: 12vw;
    font-size: 4vw;
    color: #FFFFFF;
}

.orange-line {
    width: 10vw;
    height: 0.5px;
    position: absolute;
    z-index: 5;
    background-color: #F46244;
}

#contactOrangeLine {
    left: 45%;
}

#contacts {
    margin-left: 12vw;
}

.number-holder, .contact-text {
    font-family: "Futura PT book", sans-serif;
}

.number-holder {
    margin-top: 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.number {
    margin-left: 1vw;
}

#mailLink, .number > a, .privacy-policy {
    text-decoration: none;
    cursor: pointer;
}

#mailLink:link, .number > a:link, .privacy-policy {
    color: #4B575C;
}
#mailLink:visited, .number > a:visited, .privacy-policy {
    color: #4B575C;
}

#mailLink:hover, .number > a:hover, .privacy-policy:hover {
    color: #F46244;
    text-decoration: underline;
}

#copyrightHolder {
    margin-top: 4vw;
    margin-bottom: 2.5vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
}

.social-media {
    width: 2.6vw;
    margin-left: 5vw;
    height: 15vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.rotated-text {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
}

.contact-sm {
    position: absolute;
}

.what-buttonHolder:hover, .telegram-buttonHolder:hover, .fb-buttonHolder:hover, .insta-buttonHolder:hover {
    background: #EAF5F8;
}

.telegram-buttonHolder {
    margin-top: 4.5vw;
}

.fb-buttonHolder {
    margin-top: 8.5vw;
}

.insta-buttonHolder {
    margin-top: 12.5vw;
}

#languageCopyrightHolder {
    margin-left: 10.6vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 0.4vw;
}

.language-page {
    color: #4B575C;
}

.language-page:hover {
    color: #F46244;
}

.language-slash-page {
    background-color: #4B575C;
}

#copyrightTextHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 20%;
    position: absolute;
    left: 40%;
}

.input-holder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    height: 3.6vw;
}

.placeholder-label {
    position: relative;
    top: 1.4vw;
    left: 1vw;
}

.mobile {
    display: none;
}

.horizontal-line {
    background-color: #F46244;
    margin-top: 1vw;
    width: 0.5px;
    height: 10vw;
}

@media screen and (max-width: 1024px) {
    h1, h2, p, li, td, label, select, option, input, button, textarea, span {
        font-size: 1.6vw;
    }
    textarea {
        padding: 1.5vw 1.5vw;
        width: 60%;
        height: 15vw;
    }
    .big-round-button {
        width: 14vw;
        height: 14vw;
    }
    .placeholder-label {
        top: 3vw;
        left: 2vw;
    }
    .text-input {
        width: 18vw;
        padding: 1vw 1vw;
    }
    #navPanel {
        width: 89%;
    }
    #footer {
        padding-top: 20vw;
    }
    .mobile {
        display: block;
    }
    .desktop {
        display: none;
    }
    .the-biggest-text, .the-biggest-text > span  {
        font-size: 12vw;
    }
    .header-text {
        font-size: 4vw;
    }
    .language, .button {
        font-size: 1.5vw;
    }
    .small-text {
        font-size: 1.6vw;
    }
    .language-slash {
        margin: 0 2.5vw;
        width: 2.5vw;
    }
    .button {
        padding: 0 3.75vw;
        height: 4.5vw;
    }
    #interface {
        top: 6vw;
    }
    #logo {
        width: 4vw;
    }
    .round-button-holder {
        width: 5vw;
        height: 5vw;
    }
    .menu-button-line {
        height: 2px;
        width: 2vw;
    }
    #menuLine2 {
        margin-top: 6px;
    }
    #startProject {
        display: none;
    }
    #menuButton {
        position: static;
    }
    #chatButton {
        width: 2.5vw;
    }

    #menu {
        margin-top: 20vh;
    }
    #menuNav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .menu-buttons, #menuStartProject {
        margin-top: 12vw;
    }
    .menu-buttons {
        font-size: 2.5vw;
    }
    #menuStartProject {
        background-color: #F46244;
        color: #FFFFFF;
        border: 1px solid #FFFFFF;
    }
    #menuStartProject:hover {
        background-color: white;
        color: #F46244;
        border-color: #FFFFFF;
    }

    #languageSMHolder {
        margin-top: 24vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    #socialMediaMenu, .social-media {
        width: 34vw;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
    }
    #menuLanguage, .sm-holder-menu {
        position: static;
    }
    #menuLanguage {
        margin-top: 6vw;
    }
    .sm-button {
        width: 1.5vw;
        height: 1.5vw;
    }

    #contactsHolder {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: start;
            -ms-flex-align: start;
                align-items: flex-start;
    }
    #contactHeaderHolder {
        width: 92%;
        height: 22vw;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    #contactHeader {
        margin-right: 0;
        font-size: 11vw;
    }
    #contactOrangeLine {
        display: none;
    }
    #contacts, #contactHorizontalLine {
        margin-left: 18vw;
    }
    #contactHorizontalLine {
        position: relative;
        top: -4vw;
    }
    .number-holder {
        margin-top: 3.5vw;
    }
    #copyrightHolder {
        margin-top: 8vw;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .social-media {
        margin-left: 0;
        position: static;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-flow: row;
                flex-flow: row;
    }
    .telegram-buttonHolder, .fb-buttonHolder, .insta-buttonHolder  {
        margin-top: 0;
    }
    #languageCopyrightHolder {
        margin-top: 3.5vw;
        margin-left: 0;
        margin-bottom: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    #copyrightTextHolder {
        margin-top: 3.5vw;
        position: static;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
    }
}

@media screen and (max-width: 550px) {
    h1, h2, p, li, td, label, select, option, input, button, textarea, span {
        font-size: 3.75vw;
    }
    .big-round-button {
        width: 28vw;
        height: 28vw;
    }
    .input-holder {
        height: 14vw;
        width: 100%;
        margin-top: 8vw;
    }
    .text-input {
        width: 92%;
        padding: 2vw 4vw;
    }
    .placeholder-label {
        top: 6vw;
        left: 6vw;
    }
    .the-biggest-text, .the-biggest-text > span {
        font-size: 15vw;
        letter-spacing: 0.8vw;
    }
    .header-text {
        font-size: 7vw;
    }
    #interface {
        top: 8vw;
    }
    #navPanel {
        width: 80%;
    }
    #logo {
        width: 9vw;
    }
    .round-button-holder {
        width: 12vw;
        height: 12vw;
    }
    .menu-button-line {
        width: 5vw;
    }

    #footer {
        padding-top: 30vw;
    }
    #contactHeaderHolder {
        width: 85%;
        height: 22vw;
    }
    #contactHeader {
        font-size: 13vw;
    }
    #contacts {
        margin-top: 1vw;
    }
    #contacts, #contactHorizontalLine {
        margin-left: 10vw;
    }
    .number-holder {
        margin-top: 8vw;
    }

    #socialMediaMenu, .social-media {
        width: 64vw;
    }
    .sm-button {
        width: 4vw;
        height: 4vw;
    }

    #copyrightHolder {
        margin-top: 12vw;
        margin-bottom: 5.5vw;
    }
    #contactHorizontalLine {
        top: -10vw;
    }
    #languageCopyrightHolder {
        margin-top: 8vw;
    }

    .language, .button, .small-text {
        font-size: 3.5vw;
    }
    #copyrightTextHolder {
        margin-top: 5vw;
    }

    .menu-buttons {
        font-size: 5vw;
    }
    .menu-buttons, #menuStartProject {
        margin-top: 14vw;
    }
    .button {
        padding: 0 10vw;
        height: 10vw;
    }
    #languageSMHolder {
        margin-top: 15vw;
    }
    .language-slash {
        margin: 0 6vw;
        width: 7vw;
    }
    #menuLanguage {
        margin-top: 8.5vw;
    }
    .horizontal-line {
        margin-top: 6vw;
        height: 18vw;
    }
    #menu {
        margin-top: 15vh;
    }
}