#content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 30vh;
}

#superContentHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 74%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#vacationOrangeLine {
    width: 7.5vw;
    left: 43vw;
    margin-top: 1.6vw;
}


#header {
    margin-bottom: 1.5vw;
}

#subHeader {
    width: 23vw;
}

#theForm {
    margin-right: 3vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

.input-holder {
    height: 2vw;
}

#nameHolder {
    width: 100%;
}

#name {
    width: 96.2%;
}

#abilities {
    width: 110%;
}

#emailPhoneHolder, #textHolder, #submitResumeHolder {
    margin-top: 2.5vw;
}

#emailPhoneHolder {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

#numberHolder {
    margin-left: 2vw;
}

#footer {
    padding-top: 10vh;
}

@media screen and (max-width: 1024px) {
    #content {
        margin-top: 25vw;
    }
    #vacationOrangeLine {
        display: none;
    }
    #superContentHolder {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    #subHeader {
        width: 31vw;
    }
    .input-holder {
        height: 8vw;
        width: 100%;
    }
    #name {
        width: 100%;
    }
    .text-input {
        width: 100%;
    }
    #header {
        margin-bottom: 3.5vw;
    }
    #emailPhoneHolder {
        width: 100%;
        margin-top: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-flow: column nowrap;
                flex-flow: column nowrap;
    }
    #numberHolder {
        margin-left: 0;
    }
    #textHolder, #submitResumeHolder {
        margin-top: 5vw;
    }
}

@media screen and (max-width: 550px) {
    #superContentHolder {
        width: 82%;
    }
    #subHeader {
        width: 90%;
    }
    #theForm {
        margin-right: 0;
    }
    #name {
        width: 88%;
    }
    .text-input {
        width: 88%;
    }
    #abilities {
        width: 94.5%;
        height: 25vw;
    }
    .input-holder {
        height: 10vw;
    }
    #header {
        margin-bottom: 7vw;
    }
    #textHolder, #submitResumeHolder {
        margin-top: 10vw;
    }
}