<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Seeon</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pattern.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/brief.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/pattern.js') }}"></script>
    <script src="{{ url_for('static', filename='js/brief.js') }}"></script>
</head>
<body>
    <article id="interface">
        <nav id="navPanel">
            <img onclick="openPage()" id="logo" src="{{ url_for('static', filename='img/logo.svg') }}" alt="logo">
            <section id="toMainPage">
                <p id="toMainPageText">На главную</p>
                <img src="{{ url_for('static', filename='img/contact-line.svg') }}" id="toMainOrangeLine" class="orange-line" alt="Orange line"/>
            </section>
        </nav>
    </article>
    <div id="chatHolder">
        <div id="chat"></div>
        <div id="chatButtonHolder" class="round-button-holder">
            <img id="chatButton" src="{{ url_for('static', filename='img/chat-button.svg') }}" alt="chat button">
        </div>
    </div>
    <article id="pageContent">

    </article>
</body>
</html>