{% extends 'pattern.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cases.css') }}">
    <script src="{{ url_for('static', filename='js/cases.js') }}"></script>
{% endblock %}

{% block body %}
    <article id="content">
        <h1 id="bigBigHeader" class="the-biggest-text">THINGS<br/>WE<br/>CREATE<br/>MATTER</h1>
        <img src="{{ url_for('static', filename='img/rolex.png') }}"  class="full-image" alt="rolex image"/>
        <article id="rolexHolder" class="part-image-holder">
            <img src="{{ url_for('static', filename='img/rolex-overview.png') }}" class="part-image" alt="rolex overview"/>
        </article>
        <img src="{{ url_for('static', filename='img/manor.png') }}" class="full-image" alt="manor image"/>
        <article id="manorHolder" class="part-image-holder">
            <img src="{{ url_for('static', filename='img/manor-overview.png') }}" class="part-image" alt="manor overview"/>
        </article>
        <img src="{{ url_for('static', filename='img/jet.png') }}" class="full-image" alt="jet image"/>
        <article id="jetHolder" class="part-image-holder">
            <img src="{{ url_for('static', filename='img/jet-overview.png') }}" class="part-image" alt="jet overview"/>
        </article>
        <img src="{{ url_for('static', filename='img/car.png') }}" class="full-image" alt="car image"/>
        <article id="carHolder" class="part-image-holder">
            <img src="{{ url_for('static', filename='img/car-overview.png') }}" class="part-image" alt="car overview"/>
        </article>
        <img src="{{ url_for('static', filename='img/wine.png') }}" class="full-image" alt="wine image"/>
        <article id="wineHolder" class="part-image-holder">
            <img src="{{ url_for('static', filename='img/wine-overview.png') }}" class="part-image" alt="wine overview"/>
        </article>
    </article>
{% endblock %}