{% extends 'pattern.html' %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
    {% if to_contact %}
        <script>
            $(document).ready(() => {
                setTimeout(() => {
                    $([document.documentElement, document.body]).animate({
                        scrollTop: $(document).height()
                    }, 0);
                }, 50);
            })
        </script>
    {% endif %}
{% endblock %}

{% block body %}
    <article id="topHolder">
        <section id="headerHolder">
            <h1 id="theHeader" class="the-biggest-text tenor-sans-font">SEE<span class="tenor-sans-font">ON</span></h1>
        </section>
        <section id="mainHolder">
            <section id="ideasTextHolder">
                <img src="{{ url_for('static', filename='img/contact-line.svg') }}" id="ideaOrangeLine" class="orange-line" alt="Orange line"/>
                <h1 id="ideasText" class="header-text tenor-sans-font">Мы воплощаем <span class="desktop tenor-sans-font">в жизнь</span> самые амбициозные идеи!</h1>
                <button id="mobileStartProject" class="mobile button orange-button" onclick="openPage('brief')">Начать проект</button>
            </section>
            <section id="showreelHolder">
                <p id="showreelText" class="small-text rotated-text orange">Showreel</p>
                <div id="playButtonHolder" class="round-button-holder">
                    <div id="playButton" class="round-button-holder">
                        <img id="playButtonImg" class="sm-button" src="{{ url_for('static', filename='img/play-button.svg') }}" alt="play showreel button">
                    </div>
                </div>
                <article id="videoHolder">
                    <img id="cross" src="{{ url_for('static', filename='img/cross.svg') }}" alt="close video"/>
                    <video id="showreelVideo" autoplay loop muted>
                        <source src="{{ url_for('static', filename='video/showreel.mp4') }}" type="video/mp4"/>
                        <p>Your browser does not support the video.</p>
                    </video>
                </article>
            </section>
        </section>

        <article id="scrollDownHolder">
            <p class="small-text orange">Листайте вниз</p>
            <div class="horizontal-line"></div>
        </article>

        <section id="mainSocialMenu" class="social-media desktop">
            <div class="what-buttonHolder round-button-holder sm-holder-menu" onclick="openInNewTab('')">
                <img class="what-button sm-button" src="{{ url_for('static', filename='img/what.svg') }}" alt="What's up button">
            </div>
            <div class="telegram-buttonHolder round-button-holder sm-holder-menu" onclick="openInNewTab('https://t.me/Seeonstudio')">
                <img class="telegram-button sm-button" src="{{ url_for('static', filename='img/telegram.svg') }}" alt="Telegram button">
            </div>
            <div class="fb-buttonHolder round-button-holder sm-holder-menu" onclick="openInNewTab('https://www.facebook.com/seeondigital')">
                <img class="fb-button sm-button"  src="{{ url_for('static', filename='img/fb.svg') }}" alt="Facebook button">
            </div>
            <div class="insta-buttonHolder round-button-holder sm-holder-menu" onclick="openInNewTab('https://instagram.com/seeon_studio?igshid=9w1ekk94wwaf')">
                <img class="insta-button sm-button" src="{{ url_for('static', filename='img/insta.svg') }}" alt="Instagram button">
            </div>
        </section>
    </article>
    <article id="casesHolder">
        <h1 id="ourWorksMobile" class="the-biggest-text tenor-sans-font blue">OUR WORKS</h1>
        <section id="cases">
            <h1 id="ourWorks" class="the-biggest-text tenor-sans-font blue floating-text">OUR WORKS</h1>
            <img id="rolexImg" src="{{ url_for('static', filename='img/rolex.png') }}" alt="rolex-photo">
            <button id="watchButton" class="big-round-button" onclick="openPage('cases')">Смотреть</button>
        </section>
    </article>
{% endblock %}